<template>
  <v-container fluid grid-list-lg>
    <h1 class="mt-2 mb-3">Downloads</h1>

    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h3>Grafiken für dein Social-Media-Profil</h3>
          </v-card-title>
          <v-card-text class="py-0">
            <p class="mb-2">
              Für verschiedene Bild-Positionen in den einzelnen sozialen Netzwerken gibt es immer entsprechende
              Bildgrößen-Vorgaben. Hier findest du Grafiken, die für spezielle Anwendungsfälle vorbereitet wurden.</p>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="primary"
                   href="/static/social-media/Facebook-Titelbild-Neustart.png" target="_blank">
              <v-icon left>cloud_download</v-icon>
              Facebook Titelbild
            </v-btn>
            <v-btn flat color="primary"
                   href="/static/social-media/Piraten-Bayern-Titelbild-Twitter-Neustart.png" target="_blank">
              <v-icon left>cloud_download</v-icon>
              Twitter Titelbild
            </v-btn>
            <v-btn flat color="primary"
                   href="/static/social-media/Piraten-Bayern-Titelbild-Youtube.png" target="_blank">
              <v-icon left>cloud_download</v-icon>
              YouTube Titelbild
            </v-btn>
            <v-btn flat color="primary"
                   href="/static/social-media/Profilbild.png" target="_blank">
              <v-icon left>cloud_download</v-icon>
              Profilbild &nbsp;<small>(alle Plattformen)</small>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h3>WordPress-Theme
            </h3>
          </v-card-title>
          <v-card-text class="py-0">
            <p class="mb-2">Ein Theme für deine WordPress-Webseite. Dabei handelt es sich um den Theme der auch für <a
              href="https://neustart.bayern">neustart.bayern</a> verwendet wird.</p>
            <p>Dieser Theme basiert auf dem <a href="https://github.com/Piratenpartei/Pirate-Rogue">Pirate-Rogue</a> von
              <a
                href="http://www.xwolf.de/">xwolf</a>. Pirate-Rogue muss installiert sein damit dieser Theme
              funktioniert.</p>
            <p>Als Favicon (kann in Wordpress konfiguriert werden) eignet sich das Icon (siehe folgender Abschnitt) mit
              der Größe 512x512px.</p>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="primary"
                   href="https://gitlab.com/CptS/ltw2018-wordpress-theme/-/jobs/88951358/artifacts/download">
              <v-icon left>cloud_download</v-icon>
              ZIP herunterladen
            </v-btn>
            <v-btn flat color="grey darken-2"
                   href="https://gitlab.com/CptS/ltw2018-wordpress-theme/blob/master/CHANGELOG.md" target="_blank">
              <v-icon left>label</v-icon>
              v0.1.2
            </v-btn>
            <v-btn flat color="grey darken-2" href="https://gitlab.com/CptS/ltw2018-wordpress-theme/" target="_blank">
              <v-icon left>code</v-icon>
              Quelltext
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h3>Icons</h3>
          </v-card-title>
          <v-card-text class="py-0">
            <p class="mb-2">
              <img src="/static/icons/favicon_16x16.png" style="vertical-align: middle;">
              Diese Icons können für verschieden Anwendungsfälle hilfreich sein. Zum Beispiel eignet sich das Icon mit
              der Größe 512x512px bestens als Wordpress-Favicon.</p>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="primary"
                   href="/static/icons/favicon_16x16.png">
              <v-icon left>cloud_download</v-icon>
              16×16 px
            </v-btn>
            <v-btn flat color="primary"
                   href="/static/icons/favicon_32x32.png">
              <v-icon left>cloud_download</v-icon>
              32×32 px
            </v-btn>
            <v-btn flat color="primary"
                   href="/static/icons/favicon_96x96.png">
              <v-icon left>cloud_download</v-icon>
              96×96 px
            </v-btn>
            <v-btn flat color="primary"
                   href="/static/icons/favicon_192x192.png">
              <v-icon left>cloud_download</v-icon>
              192×192 px
            </v-btn>
            <v-btn flat color="primary"
                   href="/static/icons/favicon_512x512.png">
              <v-icon left>cloud_download</v-icon>
              512×512 px
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h3 class="text-xs-center grey--text text--darken-2">Weitere Downloads folgen in kürze &hellip;</h3>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'downloads'
  }
</script>
