<template>
  <v-jumbotron :height="$vuetify.breakpoint.xs ? 'auto' : '500px'">
    <v-container fill-height>
      <v-layout align-center>
        <v-flex>
          <h1 class="display-3">Design 2018</h1>
          <h2 class="display-1">Piratenpartei Bayern</h2>

          <p class="mx-1 mt-4">Hier findest du verschiedene Tools und Downloads im Zusammenhang mit dem Kampagnen-Design
            der Piratenpartei für die Landtags- und Bezirkstagswahl 2018 in Bayern.</p>

          <v-btn color="orange" outline round to="/poster">
            <v-icon left>person</v-icon>
            Personen-Plakat-Konfigurator
          </v-btn>

          <v-btn color="primary" outline round to="/meme">
            <v-icon left>mms</v-icon>
            Social-Media-Meme-Generator
          </v-btn>

          <v-btn color="black" outline round to="/downloads">
            <v-icon left>cloud_download</v-icon>
            Sonstige Downloads
          </v-btn>

        </v-flex>
      </v-layout>
    </v-container>
  </v-jumbotron>
</template>

<script>
  export default {
    name: 'home'
  }
</script>
