<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 md5 lg3>
        <v-card color="grey lighten-4" class="mr-3" style="max-height: calc(100vh - 200px); overflow-y: auto;">
          <v-card-title primary-title><h2>Meme-Generator</h2></v-card-title>
          <v-card-text>
            <v-form @submit.prevent="refreshImage()" ref="memeForm">
              <v-select label="Format" :items="formats" v-model="memeData.format"></v-select>
              <v-select label="Layout" :items="layouts" v-model="memeData.layout" append-outer-icon="help"
                        @click:append-outer="showLayoutInfo=true"></v-select>
              <v-text-field label="Titel" v-model="memeData.title" :counter="titleMaxLength"
                            :maxlength="titleMaxLength"></v-text-field>
              <v-textarea label="Text" v-model="memeData.text" :counter="textMaxLength"
                          :maxlength="textMaxLength"></v-textarea>
              <v-text-field label="Hashtags" v-model="memeData.hashtags" :counter="hashtagsMaxLength"
                            :maxlength="hashtagsMaxLength"></v-text-field>
              <p class="caption grey--text text--darken-1">Bild</p>
              <v-menu top full-width allow-overflow max-height="80%">
                <p slot="activator">
                  <img :src="`/static/meme/preview-images/${memeData.image}.png`"
                       style="vertical-align: middle;" class="elevation-1 mr-2"/>
                  <span class="caption black--text">{{currentImage.title}}</span>
                </p>
                <v-list>
                  <v-list-tile v-for="image in images" :key="image.key" @click="selectImage(image.key)">
                    <v-list-tile-content>
                      <span class="py-1" style="max-height: 100%;">
                        <img :src="`/static/meme/preview-images/${image.key}.png`"
                             style="vertical-align: middle; max-height: 100%;" class="mr-2 elevation-1"/>
                        <span class="caption black--text">{{image.title}}</span>
                      </span>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-menu>
              <p v-if="imageUploadEnabled" class="text-xs-center">
                <span v-if="memeData.file">
                  <img src="" ref="uploadImagePreview" class="elevation-3" style="max-width: 100%;">
                  <br>
                </span>
                <input type="file" style="display: none;" ref="uploadField" accept=".jpg,.png" @change="onFileSelect"/>
                <v-btn @click="$refs.uploadField.click()" color="primary">Datei auswählen &hellip;</v-btn>
              </p>
              <v-text-field label="Foto-Autoren-Information" v-model="memeData.contribution"
                            :append-outer-icon="imageUploadEnabled && 'colorize' || undefined"
                            @click:append-outer="toggleContributionColor"
                            :class="memeData.contributionColor === '#000000' ? 'contribution-black' : 'contribution-white'"
                            v-if="contributionVisible" :disabled="!imageUploadEnabled"
                            :counter="contributionMaxLength"
                            :maxlength="contributionMaxLength"></v-text-field>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md7 lg9>
        <v-layout row align-center justify-center fill-height>
          <v-flex xs12 class="text-xs-center">
            <v-alert v-if="hint" v-model="hint" type="info" class="text-xs-left">{{hint}}</v-alert>
            <span v-if="fetched && !error">
              <img src="" ref="resultImage" class="elevation-3"
                   style="max-height: calc(100vh - 350px); max-width: 90%"/><br>
              <v-btn color="primary" flat @click="startDownload" :loading="waitForReFetch">
                <v-icon left>cloud_download</v-icon>
                Download
              </v-btn>
            </span>
            <v-alert v-else-if="fetched" v-model="error" type="warning" class="text-xs-left">{{error}}</v-alert>
            <v-progress-circular v-else :size="48" :width="6" indeterminate
                                 color="primary"></v-progress-circular>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-dialog scrollable v-model="showLayoutInfo" :fullscreen="$vuetify.breakpoint.xs">
      <v-card>
        <v-card-title primary-title><h2>Layouts</h2></v-card-title>
        <v-card-text class="layout-info-dialog">
          <div v-for="layout in layouts" :key="`layout-info-${layout}`">
            <h3 @click="chooseLayout(layout)" style="cursor: pointer;">Layout {{layout}}</h3>
            <v-layout row wrap>
              <v-flex xs4 class="text-xs-center" @click="chooseLayout(layout, 'Facebook')" style="cursor: pointer;">
                <img :src="`/static/meme/layout-icons/facebook_layout_${layout}.svg`" class="elevation-2">
                <br>Facebook
              </v-flex>
              <v-flex xs4 class="text-xs-center" @click="chooseLayout(layout, 'Twitter')" style="cursor: pointer;">
                <img :src="`/static/meme/layout-icons/twitter_layout_${layout}.svg`" class="elevation-2">
                <br>Twitter
              </v-flex>
              <v-flex xs4 class="text-xs-center" @click="chooseLayout(layout, 'Instagram')" style="cursor: pointer;">
                <img :src="`/static/meme/layout-icons/instagram_layout_${layout}.svg`" class="elevation-2">
                <br>Instagram
              </v-flex>
            </v-layout>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="showLayoutInfo = false">Schließen</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import _ from 'underscore';
  import {saveAs} from 'file-saver/FileSaver';

  const FORMATS = ['Facebook', 'Twitter', 'Instagram'];
  const LAYOUTS = ['1', '2', '3', '4'];
  const IMAGES = [{
    key: 'digitalesbayern',
    title: 'Digitales Bayern 1',
    contribution: 'Foto: CC0 / Pixabay / fotofixautomat'
  }, {
    key: 'sony-1455039_1920',
    title: 'Digitales Bayern 2',
    contribution: 'Foto: CC0 / Pixabay / robertlischka'
  }, {
    key: 'freiheit',
    title: 'Freiheit 1',
    contribution: 'Foto: CC0 / Pixabay / jill111'
  }, {
    key: 'camera-19223_1920',
    title: 'Freiheit 2',
    contribution: 'Foto: CC0 / Pixabay / PublicDomainPictures'
  }, {
    key: 'bildung',
    title: 'Bildung 1',
    contribution: 'Foto: CC0 / Pixabay / StartupStockPhotos'
  }, {
    key: 'bag-1868758_1920',
    title: 'Bildung 2',
    contribution: 'Foto: CC0 / Pixabay / Pexels'
  }, {
    key: 'heimat',
    title: 'Heimat 1',
    contribution: 'Foto: CC0 / Pixabay / markusspiske'
  }, {
    key: 'konigssee-2419532_1920',
    title: 'Heimat 2',
    contribution: 'Foto: CC0 / Pixabay / kordi_vahle'
  }, {
    key: 'digitalewirtschaft',
    title: 'Digitale Wirtschaft',
    contribution: 'Foto: CC0 / Pixabay / rawpixel'
  }, {
    key: 'erneuerbareenergien',
    title: 'Energien 1',
    contribution: 'Foto: CC0 / Pixabay / Free-Photos'
  }, {
    key: 'energy-1322816_1920',
    title: 'Energie 2',
    contribution: 'Foto: CC0 / Pixabay / Antranias'
  }, {
    key: 'car-3117778_1920',
    title: 'Verkehr 1',
    contribution: 'Foto: CC0 / Pixabay / Joenomias'
  }, {
    key: 'bus-690508_1920',
    title: 'Verkehr 2',
    contribution: 'Foto: CC0 / Pixabay / Free-Photos'
  }, {
    key: 'maximilianeum-2309451_1920',
    title: 'Demokratie 1',
    contribution: 'Foto: CC0 / Pixabay / Mylini'
  }, {
    key: 'technology-3167297_1920',
    title: 'Demokratie 2',
    contribution: 'Foto: CC0 / Pixabay / rawpixel'
  }, {
    key: 'wireless-1861612_1920',
    title: 'Ehrenamt 1',
    contribution: 'Foto: CC0 / Pixabay / 3844328'
  }, {
    key: 'wheelchair-1629490_1920',
    title: 'Ehrenamt 2',
    contribution: 'Foto: CC0 / Pixabay / klimkin'
  }, {
    key: 'flag-1184117_2500',
    title: 'Familie 1',
    contribution: 'Foto: CC0 / Pixabay / Etereuti'
  }, {
    key: 'girl-996635_1920',
    title: 'Familie 2',
    contribution: 'Foto: CC0 / Pixabay / Skitterphoto'
  }, {
    key: 'clasped-hands-541849_1920',
    title: 'Flucht 1',
    contribution: 'Foto: CC0 / Pixabay / skeeze'
  }, {
    key: 'mood-2106936_1920',
    title: 'Flucht 2',
    contribution: 'Foto: CC0 / Pixabay / Pentapfel'
  }, {
    key: 'woman-3187087_1920',
    title: 'Gesundheit 1',
    contribution: 'Foto: CC0 / Pixabay / rawpixel'
  }, {
    key: 'blood-pressure-monitor-350930_1920',
    title: 'Gesundheit 2',
    contribution: 'Foto: CC0 / Pixabay / succo'
  }, {
    key: 'markus-spiske-632419-unsplash',
    title: 'Landwitschaft 1',
    contribution: 'Photo by Markus Spiske on Unsplash '
  }, {
    key: 'vegetables-790022_1920',
    title: 'Landwirtschaft 2',
    contribution: 'Foto: CC0 / Pixabay / Jill111'
  }, {
    key: 'lusen-3447463_1920',
    title: 'Naturschutz 1',
    contribution: 'Foto: CC0 / Pixabay / FelixMittermeier'
  }, {
    key: 'fountain-752450_1920',
    title: 'Naturschutz 2',
    contribution: 'Foto: CC0 / Pixabay / stux'
  }, {
    key: 'kamil-szumotalski-751157-unsplash',
    title: 'Religion 1',
    contribution: 'Photo by Kamil Szumotalski on Unsplash'
  }, {
    key: 'ash-2179184_1920',
    title: 'Religion 2',
    contribution: 'Foto: CC0 / Pixabay / Pexels'
  }, {
    key: 'bavaria-1431637_1920',
    title: 'Urlaub 1',
    contribution: 'Foto: CC0 / Pixabay / beejees'
  }, {
    key: 'nuremberg-781798_1920',
    title: 'Urlaub 2',
    contribution: 'Foto: CC0 / Pixabay / Gellinger'
  }, {
    key: 'munich-3385961_1920',
    title: 'Verbraucherschutz 1',
    contribution: 'Foto: CC0 / Pixabay / FelixMittermeier'
  }, {
    key: 'maximilianeum-2472685_1920',
    title: 'Verbraucherschutz 2',
    contribution: 'Foto: CC0 / Pixabay / knipsy'
  }, {
    key: 'hand-3190204_1920',
    title: 'Wirtschaft 1',
    contribution: 'Foto: CC0 / Pixabay / rawpixel'
  }, {
    key: 'startup-593324_1920',
    title: 'Wirtschaft 2',
    contribution: 'Foto: CC0 / Pixabay / StartupStockPhotos'
  }, {
    key: 'munich-1480745_1920',
    title: 'Wohnen 1',
    contribution: 'Foto: CC0 / Pixabay / Alexas_Fotos'
  }, {
    key: 'large-home-389271_1280',
    title: 'Wohnen 2',
    contribution: 'Foto: CC0 / Pixabay / GregoryButler'
  }, {
    key: 'empty',
    title: 'Oranger Hintergrund'
  }, {
    key: 'upload',
    title: 'Eigenes Bild verwenden'
  }];

  export default {
    name: 'meme-configurator',
    data() {
      return {
        memeData: {
          format: 'Facebook',
          layout: '1',
          title: '100 MBit für alle!',
          text: 'Wir PIRATEN fordern, dass jeder in Bayern bis 2023 über einen schnellen Breitbandanschluss verfügt.',
          hashtags: '#LtwBy18 #DigitalesBayern',
          image: 'digitalesbayern',
          file: undefined,
          contribution: 'Foto: CC0 / Pixabay / fotofixautomat',
          contributionColor: '#000000'
        },
        formats: FORMATS,
        layouts: LAYOUTS,
        showLayoutInfo: false,
        images: IMAGES,
        fetched: false,
        error: undefined,
        hint: undefined,
        waitForReFetch: true,
        titleMaxLength: 42,
        textMaxLength: 210,
        hashtagsMaxLength: 35,
        contributionMaxLength: 84
      }
    },
    computed: {
      currentImage() {
        const img = this.images.filter(i => i.key === this.memeData.image);
        return img && img[0] || {};
      },
      contributionVisible() {
        return this.currentImage.key !== 'empty';
      },
      imageUploadEnabled() {
        return this.currentImage.key === 'upload';
      },
      memeDataJson() {
        return JSON.stringify(this.memeData);
      }
    },
    methods: {
      toggleContributionColor() {
        if (this.memeData.contributionColor === '#000000') {
          this.memeData.contributionColor = '#FFFFFF';
        } else {
          this.memeData.contributionColor = '#000000';
        }
      },
      selectImage(image) {
        this.memeData.image = image;
        this.memeData.contribution = this.currentImage.contribution || '';
        this.memeData.contributionColor = '#000000'
      },
      onFileSelect(e) {
        const file = e.target.files[0];
        if (file.name.match(/^.*\.(?:jpg|png)$/i)) {
          const reader = new FileReader();
          reader.onload = (e) => this.$nextTick(() => {
            this.memeData.file = e.target.result;
            this.memeData.filename = file.name;
            this.$nextTick(() => this.$refs.uploadImagePreview.setAttribute('src', e.target.result));
          });
          reader.readAsDataURL(file);
        } else {
          this.$root.$emit('infoEvent', 'Ungültige Dateiendung. Es sind nur "jpg" und "png" erlaubt.');
        }
      },
      refreshImageDebounced: _.debounce(function () {
        this.refreshImage();
      }, 500),
      refreshImage() {
        this.waitForReFetch = false;
        this.error = undefined;
        this.hint = undefined;

        if (this.memeData.image === 'upload' && !this.memeData.file) {
          this.hint = 'Bitte wähle eine Datei aus.';
          return;
        }

        const body = {
          format: this.memeData.format.toLowerCase(),
          layout: this.memeData.layout,
          image: this.memeData.image,
        };
        if (body.image === 'upload') {
          body.file = this.memeData.file;
          body.filename = this.memeData.filename;
        }
        if (this.memeData.title) {
          body.title = this.memeData.title;
        }
        if (this.memeData.text) {
          body.text = this.memeData.text;
        }
        if (this.memeData.hashtags) {
          body.hashtags = this.memeData.hashtags;
        }
        if (this.memeData.contribution) {
          body.contribution = this.memeData.contribution;
          if (this.memeData.contributionColor) {
            body['contribution-color'] = this.memeData.contributionColor;
          }
        }

        return fetch('/api/meme', {
          method: 'POST',
          body: JSON.stringify(body),
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
            'Accept': 'application/json; charset=UTF-8'
          }
        }).then(r => r.json())
          .then(r => {
            this.fetched = true;
            if (r.success) {
              this.$nextTick(() => {
                  const dataUrl = 'data:' + r.type + ';base64,' + r.data;
                  this.$refs.resultImage.setAttribute('src', dataUrl);
                }
              );
            } else {
              this.error = r.message;
            }
          })
          .catch(() => {
            this.fetched = true;
            this.error = 'Es ist ein unbekannter Fehler aufgetreten. Bitte versuche es noch einmal.';
          });
      },
      startDownload() {
        const dataUrl = this.$refs.resultImage.getAttribute('src');
        const regExp = /^data:([^;]+);base64,(.*)$/;
        const mimeType = dataUrl.replace(regExp, '$1');
        const fileExtension = mimeType.replace(/^.*\/([^\/]+)$/, '$1');
        const byteString = atob(dataUrl.replace(regExp, '$2'));
        const ab = new ArrayBuffer(byteString.length);
        const ia = new Uint8Array(ab);
        for (let i = 0; i < byteString.length; i++) {
          ia[i] = byteString.charCodeAt(i);
        }
        const blob = new Blob([ia], {type: mimeType});
        saveAs(blob, this.memeData.format.toLowerCase() + '.' + fileExtension);
      },
      chooseLayout(layout, format) {
        this.memeData.layout = layout;
        this.showLayoutInfo = false;
        if (format) {
          this.memeData.format = format;
        }
      }
    },
    mounted() {
      this.refreshImage();
    },
    watch: {
      memeDataJson() {
        this.waitForReFetch = true;
        this.refreshImageDebounced();
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .layout-info-dialog img
    max-width 100%
    height 100px

  .contribution-black >>> .v-input__icon--append-outer .v-icon
    color #000000 !important
    background #FFFFFF

  .contribution-white >>> .v-input__icon--append-outer .v-icon
    color #FFFFFF !important
    background #000000
</style>
