<template>
  <v-dialog v-model="showDialog" transition="slide-x-transition" :fullscreen="$vuetify.breakpoint.xs">
    <v-card>
      <v-card-title>
        <h1>Datenschutzerklärung</h1>
      </v-card-title>
      <v-card-text>
        <p>Sämtliche Daten, die du im Zuge des Plakatkonfigurators eingibst, werden im Sinne dieses Dienstes allen
          Mitgliedern der SG Design zugänglich gemacht.</p>
        <p>Alles weitere zum Thema Datenschutz kannst du hier nachlesen: <a
          href="https://piratenpartei-bayern.de/datenschutzerklarung/" target="_blank"
          @click.stop>Datenschutzerklärung</a></p>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click.stop="showDialog = false">Schließen</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: "PrivacyDialog",
    data() {
      return {
        showDialog: false
      }
    },
    mounted() {
      this.$root.$on('showPrivacyDialog', () => {
        this.showDialog = true;
      });
    }
  }
</script>
