<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title>
        <v-btn icon active-class="" to="/" color="orange">
          <v-icon color="white">color_lens</v-icon>
        </v-btn>
        <router-link to="/" class="black--text" style="font-family: PoliticsHead, sans-serif; text-decoration: none;">
          Design 2018 - NEUSTART.BAYERN - Piratenpartei Bayern
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-progress-circular v-if="$route.name === 'step'" slot="activator"
                             :indeterminate="persisting" :size="22" :width="3"
                             color="grey" class="mt-1"></v-progress-circular>
        <span v-if="lastPersist">Zuletzt gespeichert: {{lastPersist}}</span>
        <span v-else-if="persisting">Es wird gerade gespeichert &hellip;</span>
        <span v-else>Änderungen werden automatisch gespeichert.</span>
      </v-tooltip>
      <share-button v-if="showShareButton"></share-button>
      <user-menu v-if="showUserMenu"></user-menu>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer height="auto" class="px-3 grey darken-3">
      <v-layout row wrap justify-center>
        <v-btn color="orange" flat href="https://piratenpartei-bayern.de/" target="_blank">Piratenpartei Bayern</v-btn>
        <v-btn color="white" flat href="https://piratenpartei-bayern.de/kontakt/" target="_blank">Kontakt</v-btn>
        <v-btn color="white" flat href="https://piratenpartei-bayern.de/impressum/" target="_blank">Impressum</v-btn>
        <v-btn color="white" flat @click.stop="showPrivacyDialog">
          Datenschutzerklärung
        </v-btn>
        <v-flex xs12 pb-3 text-xs-center white--text>
          &copy;2018 — Piratenpartei Bayern
        </v-flex>
      </v-layout>
    </v-footer>
    <v-snackbar v-model="snackbar.show" :timeout="5000" bottom>
      {{ snackbar.message }}
      <v-btn flat color="orange" @click.native="snackbar.show = false">
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
    <privacy-dialog></privacy-dialog>
  </v-app>
</template>

<script>
  import ShareButton from '@/components/ShareButton'
  import UserMenu from '@/components/UserMenu'
  import PrivacyDialog from "@/components/PrivacyDialog";

  export default {
    name: 'App',
    components: {
      ShareButton,
      UserMenu,
      PrivacyDialog
    },
    data() {
      return {
        showShareButton: false,
        showUserMenu: false,
        snackbar: {
          show: false,
          message: ''
        },
        persisting: false,
        lastPersist: ''
      }
    },
    methods: {
      updateShareButton(route) {
        this.showShareButton = route.name && !!route.name.match(/(open|step)/);
      },
      showPrivacyDialog() {
        this.$root.$emit('showPrivacyDialog');
      }
    },
    mounted() {
      this.updateShareButton(this.$router.currentRoute);

      // deny d'n'd on complete app to allow it only to special elements
      const handler = e => {
        e.stopPropagation();
        e.preventDefault();
        e.dataTransfer.dropEffect = 'none';
        e.dataTransfer.effectAllowed = 'none';
      };
      document.body.addEventListener('dragover', handler, false);
      document.body.addEventListener('drop', handler, false);

      this.$root.$on('infoEvent', (message) => {
        this.snackbar.message = message;
        this.snackbar.show = true;
      });

      this.$root.$on('showUserMenu', (email) => {
        if (!!email) {
          this.showUserMenu = true;
        }
      });

      this.$root.$on('persisting-indicator-update', (persisting) => {
        if (persisting) {
          this.persisting = true;
        } else {
          // show progress indicator at leas one second:
          window.setTimeout(() => this.persisting = false, 1000);
        }
      });
      this.$root.$on('last-persist-update', (lastPersist) => this.lastPersist = lastPersist);
    },
    watch: {
      '$route'(to) {
        this.updateShareButton(to);
      }
    }
  }
</script>
